*{margin:0;padding:0; }
img{max-width: 100%;}
.header-top {
    font-size: 12px;
    background: #fff;
    border-bottom: #ccc thin solid;
}
.header-top .welcome-msg {
    text-align: left;
    display: inline-block;
    padding: 0;
    margin: 8px 5px 8px 0;
    font-size: 12px;
    color: #8c8c8c;
}

.social-sharing div {
    width: 40px;
    height: 35px;
    display: inline-block;
    text-align: center;
    float: left;
    border-left: #ebebeb 1px solid;
}
.social-sharing div .fa {
    color: #898989;
    padding: 10px;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.header_main .row {
    height: 116px;
}

.logo {
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.header_main .logo img {
    margin-top: 15px;
}
.logo img {
    width: 100%;
}
.search_vector {
    margin-top: 10px;
    display: none;
}
@media screen and (min-width: 992px){

    .search_vector ul {
        display: inline-flex;
        padding-left: 15px;
    }
    .search_vector h5 {
        color: #dc3333;
    }
    .search_form {
        position: relative;
        margin-top: 31px;
    }
    .row.noboder {
        padding: 13px;
        height: 651px;
        overflow: hidden;
    }
}

.search_input {
    border: #dc3333 thin solid!important;
    width: 80%;
    margin: 0!important;
    padding: 0 15px;
    border-radius: 0;
}

.account-cart div div {
    text-align: center;
}
.mg_bt_10 {
    margin-bottom: 10px;
}
.account-cart div div:last-child {
    font-size: 13px;
}
.account-cart a {
    text-decoration: none !important;
}
.cl_old {
    color: #959595;
}
.account-cart > div {
    padding: 0;
}
.top-cart-contain {

    position: absolute;
    right: 54px;
}
.account-cart a {
    text-decoration: none !important;
}
.account-cart div div {
    text-align: center;
}
.account-cart .cart-box {
    position: relative;
}
.account-cart #cart-total {
    position: absolute;
    background: #dc3333;
    color: #fff!important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -45px;
    padding: 5px;
    text-align: center;
}
.account-cart {
    margin-top: 40px;
}
.search_vector ul {
    display: inline-flex;
}

@media screen and (min-width: 768px){
    .btnsearch {
        background: #dc3333;
        width: 100px;
        height: 48px;
        margin-left: -5px;
        border: 0px;
        color: white;
    }
    .search_input {
        height: 48px;
    }
}
nav {
    position: relative;
    z-index: 999;
    top: 0 !important;
    padding: 1px;
}
.border-ftw {
    border: #fff 1px dashed;
    background: #ea4242;
    height: 50px;
}
.nav-inner {
    width: 1170px;
    margin: auto;
    position: relative;
    text-align: center;
}
#nav {
    position: relative;
    z-index: 10;
    -webkit-transform: translateZ(0);
    padding: 0 15px;
    margin: auto;
    text-align: center;
}
#nav > li {
    list-style: none;
    border-bottom: none;
    display: block;
    float: left;
    margin: 1px 0;
}
#nav li {
    text-align: left;
}
nav .active {
    background: #dc3333;
}
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a:hover {
    background: #ea4242;
    padding: 14px 0;
    margin: 0;
}
#nav > li > a {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
    transition: color 300ms ease-in-out 0s,background-color 300ms ease-in-out 0s,background-position 300ms ease-in-out 0;
    border-right: 1px rgba(226,228,230,0.39) solid;
    text-decoration: none;
    display: block; 
    padding: 15px 0 14px;
}
.nav_menu #nav > li:first-child span {
    padding-left: 30px;  
    background: url(../img/icon-home.png) 10px no-repeat;
}
#nav > li.active > a span, .vertnav-top li.current > a span {
    border-right: none;
}
#nav > li > a > span {
    display: inline-block;
    padding: 0 10px;
    line-height: 18px;
}
#nav .level0-wrapper, #nav.classic ul.level0 {
    top: 48px;
}
#nav .level0-wrapper, #nav.classic .parent > ul {
    background: #fff;
    border-top: none;
    border-bottom: 5px #df3131 solid;
    box-shadow: 0 0 20px -5px;
    width: 1170px;
    padding: 15px 15px 0;
}
#nav .level0-wrapper2 {
    padding: 0;
}
.nav-block-center {
    margin-top: 0;
}
ul.level0 {
    padding: 0;
}
#nav ul.level0 > li {
    display: inline-block;
    float: none;
    margin-right: 0;
    padding-bottom: 15px;
    padding-top: 0;
    vertical-align: top;
    width: 220px;
}
#nav ul li {
    margin-bottom: 1px;
    list-style: none;
    padding: 6px 0;
}
#nav li {
    text-align: left;
}
#nav ul.level0 > li > a {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: normal;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
#nav li a {
    display: block;
    text-decoration: none;
}
#nav ul.level1 {
    position: static;
}
#nav ul.level1 > li a {
    float: none;
    transition: background-position 150ms ease-out;
    -moz-transition: background-position 150ms ease-out;
    -webkit-transition: background-position 150ms ease-out;
    -o-transition: background-position 150ms ease-out;
    display: block;
}
.level0-wrapper.dropdown-6col:hover {
    display: block;
    left: 0px;
}
.nav_hotline {
    color: #fff;
    padding-left: 30px;
    font-size: 16px;
    padding-top: 15px;
    margin-right: 15px;
}
.nav_hotline img {
    margin-top: -4px;
} 
@media only screen and (max-width: 479px) and (min-width: 320px)
{
 .logo {
    display: inline-block;
    width: 100%;
    text-align: center;
}
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #df3131;
}
.logo {
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default {
  border-color: white;
  background: white;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;

}
li.level0.level-top.parent {
    border-bottom: 1px solid #cacaca;
    font-weight: 600;
    font-size: 16px;
}
.vien {
    border-bottom: none!important;
}
.mobile_menu {
    margin-bottom: -18px;
}
@media screen and (max-width: 767px)
{
    .search_input {
        height: 40px;
    }
    .btnsearch {
        background: #dc3333;
        width: 55px;
        height: 44px;
    } 
}

input.search_input {
    border: #dc3333 thin solid!important;
    width: 76%;
    padding: 0 15px;
    height: 44px;
    border-radius: 0;
}

input.btnsearch {
    position: absolute;
    top: 0;
    color: #fff;
    border: #dc3333 1px solid;
    border-radius: 0;
    border-left: none;
    height: 44px;
}
.bar_mobile img {
    width: 40px;
    margin-top: 32px;
    position: absolute;
    right: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: white;
}
.top-cart-contain {
    margin-right: -46px;
    margin-top: 10px;
}
.navbar-default .cart-box {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #dc3333;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.carousel{
    margin-top:25px;
}
.block {
    margin-bottom: 20px;
    background: #fff;
}

.block .block-title a {
    text-decoration: none!important;
    color: #fff;
    line-height: 30px;
}
.product_list h5 a .fa {
    padding-right: 10px;
}

.block-content > li {
    border-bottom: rgba(204,204,204,0.48) thin dashed;
    padding-right: 10px;
    position: relative;
}
.block-content > li a {
    color: #000;
    margin-left: 17px;
    display: block;
}

li.level0 > a > span {
    position: relative;
    padding: 0 10px 0 15px;
}
ul.level1 {
    display: none;
}
.magin {
    margin-top: 28px;
}
.block-content {
    background: white;
}
li.level0.parent.drop-menu {
    height: 50px;
    line-height: 49px;
}

a:hover {
    text-decoration: none;
    color: #000;
}
li:hover a {
    color: red;

}
li ul li:hover a{
    display: inline;
}
.block-content li:hover .level1 {
    display: inline;
}
.block-content ul {
    position: absolute;
    left: 254px;
    top: 0;
    display: none;
    -webkit-box-shadow: -1px -1px 5px #666;
}
.block-content li ul {
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 0;
    color: black;
}
.block-content li li {
    border-bottom: rgba(204,204,204,0.48) thin dashed;
}
.online_support .block-content {
    padding: 10px 0;
}
.online_support.block {
    margin-top: 17px;
}

.online_support .block-content div{
    padding-left: 30px;
    margin: 15px;
}

.sp_1, .sp_2{
    background: url(//bizweb.dktcdn.net/100/173/966/themes/228679/assets/support-online.png?1486606048362) left center no-repeat;
}
.online_support .block-content div p:first-child {
    color: #424242;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}


.block .block-title {
    margin-bottom: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
}
.blog-navigator, .hot_sale_navigator {
    position: absolute;
    top: 0px;
    right: 15px;
}

.block .block-title a {
    text-decoration: none!important;  
    line-height: 30px;
}

.blog-navigator .btn, .hot_sale_navigator .btn {
    background: transparent;
    border: none;
    padding: 5px 3px;
    font-weight: 600;
    color: #ccc!important;
    font-size: 20px;
}
/*San pham noi bat*/
.best_product .block-content {
    overflow: hidden;
}

.block .block-content {
    border-top: medium none;
    font-size: 12px;
    padding: 5px 0;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-item {
    float: left;
}

.best_product .block-content .item {
    margin: 15px;
    margin-top: 5px;
    overflow: hidden;
}

.best_product .block-content .item > .item_pd {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.best_product .block-content .item .item-img {
    border: rgba(185,173,173,0.42) thin solid;
    padding: 0;
}
.item-img img {
    width: 100%;
}

div#scro {

    height: 433px !important;
    width: 100% !important;
    -webkit-box-shadow: 0px 0px 11px 1px #bfadad;
    -moz-box-shadow: 0px 0px 11px 1px #bfadad;
    -webkit-box-shadow: 0px 0px 11px 1px #bfadad;
    margin: auto;
}
.best_product .block-content .item .item-info {
    overflow: hidden;
    color: rgba(0,0,0,0.62);
    padding: 5px 10px;
}

.item-name {
    color: #959595;
}
.fs16 {
    font-size: 16px;
}

.cl_price {
    color: #dc3333;
}

.item-price {
    font-weight: 600;
}
section .itemprice{
    color: red;
    margin-top: 19px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
section .imgadvertise{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bt-mua{
    position: absolute;
    margin-top: -171px;
    display: none;
    background-color: white;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    width: 92px;
    color: red;
    border:red thin solid;
}
.bt-xem{
    margin-left: 98px;
    margin-top: -171px;
    position: absolute;
    display: none;
    background-color: white;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    width: 82px;
    color: red;
    border:red thin solid;
}

/*Thông tin công ty*/
.big-title{
    margin-bottom: 10px;
    font-weight: bold
}
.detail a{
    color: black;
    text-decoration: none;
}

/*Hướng dẫn*/

.breadcrumbs {
    background: #f5f5f5;
    width: 100%;
}
.breadcrumbs .inner {
    margin: 0 0 0 12px;
    padding: 15px 0;
    border-bottom: rgba(221,221,221,0.52) thin solid;
    margin-bottom: 30px;
    line-height: 25px;
}
.breadcrumbs ul {
    padding: 0 23px;
}
.breadcrumbs ul li {
    list-style-type: none;
    display: inline;
}
.breadcrumbs .fa {
    margin-left: 10px;
}
.breadcrumbs span {
    display: inline-block;
}

footer, .cthd, .ctcs {
    background: #f5f5f5;
}

.rte {
    border-bottom: #e1e1e1 1px solid;
}

/*Footer*/


.footer-up {
    overflow: hidden;
    border-bottom: #e1e1e1 1px solid;
    margin-top: 20px;
}

.footer-up > div {
    margin-bottom: 20px;
}

.footer-up h5 {
    text-transform: uppercase;
    font-weight: 600;
}
.footer-up li {
    line-height: 25px;
}
.footer-mid h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.tuvan {
    float: left;
    margin-right: 10px;
}

.f-mid-2-1 {
    float: left;
    margin-right: 20px;
}

.f-mid-2 p {
    margin-bottom: 0;
    color:  #999;
}

.f-mid-2 div p:last-child {
    color: #D91918;
    font-weight: 600;
    font-size: 16px;
}

.f-mid-2-2 {
    border-left: #ccc thin solid;
    padding-left: 20px;
    float: left;
}
.f-mid-2 div p:last-child {
    color: #D91918;
    font-weight: 600;
    font-size: 16px;
}

.copyright{
    background: #363636;
    color: #CCC;
    line-height: 30px;
}

.copyright span {
    white-space: nowrap;
    float: left;
}

.entry-img img {
    width: 100%;
}
.block > div:first-child {
    background: #ea4242;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: rgba(0,128,0,0) thin solid;
} 
.block > div:first-child > h5 {
    font-weight: 600;
    margin: 1px 0;
    padding: 8px 17px 9px;
    border-top: #fff thin dashed;
    border-bottom: #fff thin dashed;
}
.product_list h5 a .fa {
    padding-right: 10px;
}
.block .block-title a {
    text-decoration: none!important;
    color: #fff;
    line-height: 30px;
}
.block {
    margin: 0 0 25px;
}
.imgadvertise {
    margin: 30px 0;
}
section.article{    
    border-top: red 2px solid;
    border-left: #ebebeb thin solid;
    border-right: #ebebeb thin solid;
    border-bottom: #ebebeb thin solid;
    padding: 0!important;
    background: #fff;
}
.redline{
    height: 2px;
    background-color: red;
}
section .title{
    font-weight: bold;
    line-height: 50px;
    padding-left: 17px;
    border-bottom: 1px #ebebeb solid;
}
section .oneitem {
    position: relative;
    border-right: #F5F5F5 thin solid;
    border-bottom: #F5F5F5 thin solid;
}
section .oneitem img{
    margin-top: 22px;
    width: 100%;
}
.itemdescript, .itemprice, .child{
    margin-left: 0.8rem;

}
section .oneitem img:hover {
    opacity: 0.5;
}
.firt{
   padding-right: 0.9rem;
   margin-left: -0.6rem;
   margin-bottom: 1rem;

}
section .itemprice{
    color: red;
    margin-top: 19px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
section .imgadvertise{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bt-mua{
    position: absolute;
    margin-top: -171px;
    display: none;
    background-color: white;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    width: 92px;
    color: red;
    border:red thin solid;
}
.bt-xem{
    margin-left: 98px;
    margin-top: -171px;
    position: absolute;
    display: none;
    background-color: white;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    width: 82px;
    color: red;
    border:red thin solid;
}
section .oneitem:hover .bt-mua{
    display: block;
}
section .oneitem:hover .bt-xem{
    display: block;
}
section .bt-mua:hover {
    color: white;
    background-color: red;
}
section .bt-xem:hover {
    color: white;
    background-color: red;
}
.row .col-md-3.oneitem:nth-child(4) {
    border-right: none;
}
.noboder .col-xs-6.col-md-3.oneitem {
    border-bottom: none;
}
.smallicon{
    margin-right: 6px;
}

.block > div:first-child > h5 {
    font-weight: 600;
    margin: 1px 0;
    padding: 8px 17px 9px;
    border-top: #fff thin dashed;
    border-bottom: #fff thin dashed;
}
/*tất cả sản phẩm style*/
#seconditem{
    border-top: red thin solid !important;
    border-top-width: 2px !important;
}
.item-soft{
    float: left;
    margin-top: 14px;
    margin-left: 273px;
    font-size: 15px;
}
#all-itemid{
    float: left;
}
.item{
    clear: both;
}
#seclectsoft{
    width: 154px;
    height: 44px;
    margin-bottom: 10px;
}
/*Chi tiết sản phẩm*/
.super-link span{
    color: red;
}
.super-link a{
    text-decoration: none;
    color: black;
}
.super-link{
    height: 55px;
    line-height: 55px;
}
#item-detail hr{
    margin: 0px !important;
}
#aoto{
    width: 362px;
    height: 287px;
}
.all-detail{
    margin-top:30px;
}
.detail-title{
    font-size: 20px;
}
#item-detail form button{
    background-color: red;
    color: white;
    height: 43px;
    margin-left: 18px;
    font-size: 15px;
    font-weight: bold;
    width: 158px;
    border: none;
}
.delivery{
    width: 283px;
    height: 400px;
}
.free-delivery{
    text-align: center;
    border: #ebebeb thin solid;
    height: 100px;
    padding-top: 15px;
}
.item-detail{
    background-color: f5f5f5;
}
/*TAB*/
.detai-info{
    color: red;
    font-weight: bold;
}
#home{
    text-align: center;
}
/*Giỏ hàng*/
table{
    margin-top:53px;
}
.big-column{
    width: 235px;
    height: 48px;
    background-color: #515151;
    color: white;
    line-height: 48px;
    text-align: center;
    border-right: white thin solid; 
}
.medium-column{
    width: 185px;
    height: 48px;
    background-color: #515151;
    color: white;
    line-height: 48px;
    text-align: center;
    border-right: white thin solid; 
}
.small-column{
    width: 110px;
    height: 48px;
    background-color: #515151;
    color: white;
    line-height: 48px;
    text-align: center;
    border-right: white thin solid; 
}
.b-c2{
    text-align: center;
    height: 96px;
    border: #eaeaea thin solid;
    border-top: none;
}
.me-c2{
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: #eaeaea thin solid;
    border-top: none;
}
#m-c2{
    text-align: center;
    border: #eaeaea thin solid;
    border-top: none;
}
.s-c2{
    text-align: center;
    border: #eaeaea thin solid;
    border-top: none;
}
.btn-cont{
    background-color: #464646;
    width: 119px;
    height: 45px;
    text-align: center;
    color: white;
}
.continued{
    margin-top: 20px;
}
#a-left{
    width: 250px;
    height: 47px;
    background-color: white;
    float: left;
    border: #ebebeb thin solid;
    line-height: 47px;
    padding-left: 15px;
}
#a-right{
    width: 200px;
    height: 47px;
    background-color: white;
    float: left;
    border: #ebebeb thin solid;
    color: red;
    font-size: 19px;
    font-weight: bold;
    line-height: 47px;
    padding-left: 40px;
}
#pay-bill{
    width: 100%;
    height: 69px;
    color: white;
    line-height: 69px;
    text-align: center;
    background-color: #df3131;
    border: none;
    margin-top: 20px;
    font-size: 16px;
}
#giohang{
    padding-bottom: 100px;
    background: #f5f5f5;
}
/* repon  */
@media screen and (min-width:320px) and (max-width: 414px){
 .sibar {
    display: none;
}
.no_xs {
    display: none;
}
}
#all-login-page{
    background-color: #f5f5f5;
    padding-bottom: 50px;
}
.login-page{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #ebebeb thin solid;
}
.login-page span{
    color: red;
}
.login-form{
    margin-top: 40px;
}
.txt-login{
    padding: 10px;
    width: 100%;
}
.login-form p{
    margin-top:20px; 
}
.login-form span{
    color: red;
}
.login-submit{
    color: #333;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 40px;
    border: #ebebeb solid 0.5px;
    font-weight: bold;
}
.register-submit{
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 15px 40px;
}

.all-register-page{
    background-color: #f5f5f5;
    padding-bottom: 50px;
}
#check-email{
    margin-top: 20px;
}

.txt-order{
    padding: 10px;
    width: 25%;
    margin-left: 5px;
}
.ctcs{
    padding: 0px 15px;
}
.sticky{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0!important;
    background-color:#dc3333;
}
.beta-map iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
/* giao diện  */
.add-to-cart {
    background-color: #e22727;
    height: 38px;
    width: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
    margin-top: -9px;
}
.add-to-cart i {
    font-size: 22px;
    color: #fff;
    line-height: 35px;
}
.fa-shopping-cart:before {
    content: "\f07a";
}
.row.noboder {
    padding: 13px;
}
.beta-btn.primary:hover {
    color: #fff;
    background: #e22727;
}
.beta-btn.primary {
    padding: 10px 20px;
    line-height: 100%;
    border: 1px solid #e22727;
}
.beta-btn.primary i {
    font-size: 10px;
    padding-left: 5px;
    color: #f90;
}
p.single-item-title {
    margin: 5px 0;
    font-size: 16px;
}
.flash-del {
    text-decoration: line-through;
    margin-right: 10px;
}
p.single-item-price {
    font-size: 20px;
}
.single-item-caption {
    margin-bottom: 16px;
}
.single-item:hover img {
    opacity: 0.7;
}
.block-content i.fa.fa-angle-right {
    float: right;
}
/* slide */
.aside .widget-title {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    border-left: 3px solid #606366;
    color: #606366;
}
.beta-lists>* {
    padding: 20px;
    border-bottom: 1px dotted #e1e1e1;
    margin-top: 0;
}
.beta-sales-item .pull-left {
    margin-right: 20px;
}
.pull-left {
    color: #2FBFC1;
    font-weight: 500;
}
.beta-sales-item img {
    width: 55px;
    height: auto;
}
.beta-sales-price {
    font-size: 20px;
    color: #f90;
}
.aside .widget-title {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #e91e63;
    padding-left: 20px;
    border-left: 3px solid #e91e63;
    color: #606366;
    padding: 10px;
}
.single-item img {
    height: 204px;
    width: 189px;
}
/* chitieets */
.slick-slider img {
    width: 100%;
    display: inline-block;
}
.inner-header {
    margin-top: 13px;
    text-transform: capitalize;
}
.well {
    padding: 0px 14px 10px;
}
.content3-slide.owl-theme.owl-carousel.owl-loaded.owl-drag {
    overflow: hidden;
    height: 311px;
}
.beta-sales.beta-lists {
    height: 477px;
    overflow: hidden;
}
